extends layout

block layout-content
  div.View.UserView
    h1.Banner Howdy, #{data}!
    div.Message
      div.Title
        h3 Making Us the Best
        h1 Teammate Profile
        input#input( type="file" )
      pre.Details=JSON.stringify(data)
    div.NavButtons
      a(href="/logout")
        div.NavButton Log out